.ShuttlePartner-info-1 .Head {
    margin-top: 20px;
}

.ShuttlePartner-info-1 .Container {
    padding: 50px;
    margin: 40px 0 0 0;
    height: 720px;
    width: 1450px;
    border-radius: 20px;
    background-color: #1D3557;
    color: #FFF;
    display: flex;
}

.ShuttlePartner-info-1 a {
    cursor: pointer;
}

.ShuttlePartner-info-1 h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.ShuttlePartner-info-1 h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.ShuttlePartner-info-1 .Container .Info-text {
    font-size: 20px;
    color: #d9d9d9;
    padding: 0;
}

.ShuttlePartner-info-1 .Container .Left .Title {
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    width: 30%;
    font-weight: bold;    
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
}

.ShuttlePartner-info-1 .Container .Info .Info-text .Row {
    padding-bottom: 50px;
    width: 430px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.ShuttlePartner-info-1 .Container .Info-text .Row {
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.ShuttlePartner-info-1 .Container .Left {
    width: 50%;
    padding-right: 20px;
}

.ShuttlePartner-info-1 .Container .Right {
    width: 45%;
}

.ShuttlePartner-info-1 .Container .Right .Card{
    margin-top: 50px;
}

.ShuttlePartner-info-1 .Container .Right .Map img {
    border-radius: 15px;
}

.ShuttlePartner-info-1 .Footer {
    padding-right: 100px;
    padding-bottom: 40px;
}

.ShuttlePartner-info-1 .Footer .Button {
    margin-left: 20px;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: #3C6E71;
    border: none;
}

.ShuttlePartner-info-1 .Footer .Button:hover {
    background-color: #254647
}