#RentcarInfo {
    flex: 30%;
}

#RentcarMessage {
    flex: 35%;
}

#RentcarDelete {
    flex: 35%;
}

#RentcarInfo, #RentcarMessage, #RentcarDelete {
    cursor: pointer !important;
}

#RentcarInfo:hover, #RentcarMessage:hover, #RentcarDelete:hover {
    cursor: pointer !important;
    color: #3C6E71;
}

#RentcarRealname {
    width: 30%;
}

#RentcarEmail {
    width: 30%;
}

.modal {
    padding-top: 15%;
}

.modalHeader {
    justify-content: center;
    border: none;
}

.modalTitle {
    padding-top: 15px;
    font-weight: bold;
    color: #1D3557;
}

.modalBody {
    padding: 30px 50px 40px 50px;
    font-size: 18px;
}

.modalFooter {
    border: none;
    padding: 0 80px 20px 80px;
    justify-content: space-between;
}

.modalButtonPrimary, .modalButtonSecondary {
    height: 50px;
    width: 150px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.modalButtonPrimary {
    background-color: #3C6E71;
}

.modalButtonSecondary {
    background-color: #F25B52;
}

.modalButtonPrimary:hover {
    background-color: #2f5658;
}

.modalButtonSecondary:hover {
    background-color: #be4a44;
}
