.App {
  height: 100vh;
}

body {
  background-color: #ecfaff !important;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
  color: #1D3557 !important; 
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 32px !important;
  font-weight: bold !important;
}

a {
  text-decoration: none !important;
}